

.menu{
  position: fixed;
}

ul{
  display: 1px;
}
.header{
  background-color: black;
}

.circleContainer{
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.circle {
width: 500px;
height: 500px;
background-image: url(images/ashleybioPic.jpg);
background-position: center;
background-repeat: no-repeat;
border: 6px white solid;  }
.top-buffer {
  margin-top:80px;
}

.top-bufferTwo {
  margin-top:80px;
}

.bottomDiv {
  margin-bottom:90px;
}

#navLogo{
  width:249px;
}
.ashleybackground{
  background-image: url("flower.jpg");
      width: 100%;
      height: 1256px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-position-x: 2px;
}
.sidenav .imageNav {
  padding: 0px; }

#bioText{
  font-family: 'Didact Gothic', sans-serif;
  color: white;
  font-size: 25px;
}
