.example {
  width: 100%;
  height: 800px;
  background-color: blue; }

.carousel {
  background: #2f4357; }

.carousel .item img {
  margin: 0 auto;
  /* Align slide image horizontally center */ }

.CarouselContainer {
  margin: 20px; }

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black; }

.mainContainer {
  width: 100%;
  height: 800px; }

.menu {
  position: fixed; }

.logo {
  width: 200px;
  position: relative;
  top: -5px; }

ul {
  display: 1px; }

.header {
  background-color: black; }

li {
  font-family: 'Didact Gothic', sans-serif;
  color: white; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

#main {
  transition: margin-left 0.5s;
  padding: 16px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

#logoBandW {
  width: 513px; }

.menu {
  position: fixed; }

ul {
  display: 1px; }

.header {
  background-color: black; }

.circleContainer {
  margin-left: 0 auto;
  margin-right: 0 auto; }

.circle {
  width: 500px;
  height: 500px;
  background-image: url(images/ashleybioPic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  border: 6px white solid; }

.top-buffer {
  margin-top: 80px; }

.top-bufferTwo {
  margin-top: 80px; }

.bottomDiv {
  margin-bottom: 90px; }

#navLogo {
  width: 249px; }

.ashleybackground {
  background-image: url("flower.jpg");
  width: 100%;
  height: 1256px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: 2px; }

.sidenav .imageNav {
  padding: 0px; }

#bioText {
  font-family: 'Didact Gothic', sans-serif;
  color: white;
  font-size: 25px; }

body {
  background-color: white; }

.iconContainer {
  display: inline-block;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%); }

/* Icons */
.contactIcon {
  color: #fff;
  background: black;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  padding-top: 12px;
  margin: 0 2px;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased; }

.contactIcon:hover {
  background: #FFF;
  color: black; }

/* pop-up text */
.contactIcon span {
  color: black;
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  z-index: -1;
  font-size: 14px;
  border-radius: 2px;
  background: #D3D3D3;
  visibility: hidden;
  opacity: 0;
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

/* pop-up text arrow */
.contactIcon span:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #D3D3D3;
  position: absolute;
  bottom: -5px;
  left: 40px; }

/* text pops up when icon is in hover state */
.contactIcon:hover span {
  bottom: 100px;
  visibility: visible;
  opacity: 1; }

/* font awesome icons */
.contactIcon:nth-of-type(1):before {
  content: '\f09a'; }

.contactIcon:nth-of-type(2):before {
  content: '\f10b'; }

.contactIcon:nth-of-type(3):before {
  content: '\f0e0'; }

/* Setting things up */
a {
  text-decoration: none;
  color: #fff; }

/* Important stuff */
nav {
  position: relative; }

.dropdown-toggle {
  padding: 0.5em 1em;
  background: #777;
  border-radius: 0.2em 0.2em 0 0; }

ul.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: .5em;
  background: #777;
  min-width: 12em;
  padding: 0;
  border-radius: 0 0 0.2em 0.2em; }
  ul.dropdown li {
    list-style-type: none; }
    ul.dropdown li a {
      text-decoration: none;
      padding: 0.5em 1em;
      display: block; }

#wedding {
  background-image: url("weddingbackground.JPG");
  background-position-x: -484px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 111%;
  height: 2000px;
  padding: 0px; }

.menutext {
  float: left; }

.navbar-brand {
  /* float: left; */
  /* height: 50px; */
  padding: 15px 15px;
  font-size: 18px;
  /* line-height: 20px; */ }

#slideshow {
  margin: 50px auto;
  position: relative;
  width: 240px;
  height: 240px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); }

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px; }

.navbar-nav {
  text-align: center; }
  .navbar-nav > li {
    float: none;
    display: inline-block; }

.imageNav {
  padding: 0px; }
